<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="NAMASTE.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Hackathone</p>
            <div>
              <small class="designation text-muted">Event</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <ul button class="btn btn-success btn-block" style="background-color:rgb(82, 112, 112) "> project
          <li class="nav-item dropdown">
            <a class =" nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" Project></a>
            <div class="dropdown-menu" style = "background-color:rgb(88, 144, 189)">
              <em>
              <a class="dropdown-item" href="#" >create new project</a>
              <a class ="dropdown-item" href ="#">open existing project</a>
              <a class ="dropdown-item" href ="#"> download Project</a>
              </em>
            
            </div>
          </li>
        </button>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="menu-icon mdi mdi-home"></i>
        <span class="menu-title">Home</span>
      </a>
    </li>
  
      
    <li class="nav-item">
      <a class="nav-link" href="pages/charts/chartjs.html">
        <i class="menu-icon mdi mdi-chart-line"></i>
        <span class="menu-title">Charts</span>
      </a>
    </li>
    
    
      <li class="nav-item">
          <a class="nav-link" href="pages/everest/index.html">
            <i class="menu-icon mdi mdi-triangle"></i>
            <span class="menu-title">Mt.Everest</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/Map/font-awesome.html">
            <i class="menu-icon mdi mdi-pin"></i>
            <span class="menu-title">Map</span>
          </a>
    
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon mdi mdi-restart"></i>
        <span class="menu-title">User Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item">
                <a class="nav-link" href="../../pages/samples/blank-page.html"> Blank Page </a>
              </li>
          
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/login.html"> Login </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/register.html"> Register </a>
          </li>
         
        </ul>
      </div>
    </li>
  </ul>
</nav>